*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,209,45,1) 100%);
}

#root {
    display: grid;
    height: 100%;
    grid-template-columns: [content-start] 100% [content-end];
    grid-template-rows: [row-1-start] 5% [row-1-end content-start] 95% [content-end] ;
}


.main-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    grid-area: row-1-start / content-start / row-1-end / content-end;
    z-index: 10;
    padding: 0.5rem 1.5rem;
}

.main-header > div{
    display: inline-block;
    width: 50%;
}

.main-header__brand{
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    text-align: left;
    height: 2rem;
    font-weight: bold;

}

.main-header__brand img{
    vertical-align: middle;
    border-radius: 0.5rem;
    height: 100%;
}

.main-header__brand h1{
    vertical-align: middle;
    font-size: inherit;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.main-nav{

}

.main-nav__items{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item > button{
    color: ghostwhite;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

.main-nav__item > button:hover,
.main-nav__item > button:active{

    border-bottom: white 3px solid;
}

#content{
    width: 100%;
    height: 100%;
    padding: 5rem;
    grid-area: content;
    grid-gap: 1rem;
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: [con-start] repeat(4,  25%) [con-end];
    grid-template-areas: "overview overview info info"
                            "main main main main";

}

.content-item {
    background: rgba(255,255, 255, 0.6);
    border-radius: 0.5rem;
    box-shadow: 4px 4px black;
    overflow: hidden;
}

.overview{
    grid-area: overview;

}

.first-tweet{
    grid-area: info;
}

.tweets-cloud{
    grid-area: main;
}

.content__item__topic{
    opacity: 100%;
    text-align: center;
    text-transform: uppercase;
    color: black
}

.content-item__description{
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,209,45,1) 100%);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    box-shadow: 4px 4px black;
}

.overview-table{
    margin: 1rem auto;
    height: 100%;
    width: 100%;
}

.overview-table__image{
    border-radius: 50%;
    width: 150px;
    min-width: 150px;
    min-height: 150px;
    height: 150px;
}

.overview-table__image img{
    width: 100%;
    height: 100%;
}

.overview-table__detail-table{
    height: 100%;
    width: 60%;
    padding: 0.5rem;
    border: black solid 2px;
    border-radius: 8px;
}

.overview-table__detail-table td{
    text-transform: uppercase;
    color: white;
}


@media (max-width: 1045px) {
    #content{
        padding: 2rem;;
        grid-auto-rows: auto;
        grid-gap: 1rem;
        display: grid;
        grid-template-columns: [con-start] 100% [con-end];
        grid-template-areas: "overview"
                            "info"
                            "main";

    }
    
}