<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>YourTwitter - Overview</title>
    <link href="../static/css/user_styles.css" rel="stylesheet">
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
</head>
<body>
<div id="root">
    <header class="main-header">
        <div>
            <a class="main-header__brand" href="#root">
                <img src="../static/images/Twitter_Logo_WhiteOnBlue.svg" alt="logo"> <h1>Your Twitter</h1></a>
        </div>
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                    <button type="button">Sign out</button>
                </li>
            </ul>
        </nav>
    </header>
    <div id="content">
        <section class="content-item overview">
            <h2 class="content-item__topic">General info</h2>
            <div class="content-item__description"></div>
        </section>
        <section class="content-item first-tweet">
            <h2 class="content-item__topic">First and last tweet</h2>
            <div class="content-item__description"></div>
        </section>
        <section class="content-item tweets-cloud">
            <h2 class="content-item__topic">Tweet Cloud</h2>
            <div class="content-item__description"></div>
        </section>
    </div>
</div>

<script src="../static/js/userInfo.js"></script>
</body>
</html>