<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Title</title>
    <link href="../static/css/user_styles.css" rel="stylesheet">
    <script src="../static/js/userInfo.js"></script>
</head>
<body>
<div id="root">
    <header class="main-header">
        <div>
            <a class="main-header__brand" href="#root">
                <img src="../static/images/Twitter_Logo_WhiteOnBlue.svg" alt="logo"> <h1>Twitter analyzer </h1></a>
        </div>
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                    <button type="button">Sign out</button>
                </li>
            </ul>
        </nav>
    </header>
    <div id="content">
        <div class="overview"></div>
        <div class="first-tweet"></div>
        <div class="tweet-cloud"></div>
    </div>
</div>
</body>
</html>